@page
@model GForumBelarus.WebSite.Pages.AboutUsModel
@{
}

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">О проекте Beltravel</h1>
        <p class="lead text-muted mb-0">Как мы придумали самую эффективную систему планирования путешествий</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/dy4kkaxay/image/upload/v1654359720/travel_whstjg.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<br />
<br />

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
       <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/dy4kkaxay/image/upload/v1654462279/NicePng_hand-vector-png_1350030_uskl3j.png" alt="" class="img-fluid"></div>
      <div class="col-lg-6">
        <h1 class="display-4">Такой знакомый метод</h1>
        <p class="lead text-muted mb-0">Наша система основывается на простом методе, известном с малых лет: карточки. В дестве мы могли собирать карточки с машинками, с красивыми местами или предметами. Теперь же мы реализовали такой близкий для нас принцип в поиск мест для путешействий по родной стране. Просто выбирайте понравившуюся Вам карточку и отправляйтесь исследовать! </p>
      </div>
      
    </div>
  </div>
</div>

<br />
<br />

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Что дальше?</h1>
        <p class="lead text-muted mb-0">Данный ресурс создан студентом 2 курса БГУИР Ивашкевичем Александром. В данном проекте предусмотрены все необходимые средства для последующего развития и модернизации. Таким образом, добавление все новых и новых функций - лишь вопрос времени. Оставайтесь с нами :)</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/dy4kkaxay/image/upload/v1654462496/way_ddfpb8.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<br />
<br />

