@page
@using GForumBelarus.WebSite.Components;
@model GForumBelarus.WebSite.Pages.Shared.AdminModel
@{
    ViewData["Title"] = "Administration page";
}


<div class="text-center">
    <h1 class="display-4">Administration Page</h1>
</div>

@(await Html.RenderComponentAsync<Admin>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script> 