@page
@using GForumBelarus.WebSite.Components;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Гайд для путешествий по Беларуси</h1>
    <p>Инструмент, чтобы посмотреть на Беларусь по-новому</p>
</div>

@(await Html.RenderComponentAsync<PostList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script> 

 