@page
@using GForumBelarus.WebSite.Components;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Greatest Guide of Belarus</h1>
    <p>Откройте для себя другую Беларусь</a>.</p>
</div>

@(await Html.RenderComponentAsync<PostList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script> 