@page
@using GForumBelarus.WebSite.Components;
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">Поделитесь своим любимым местом</h1>
    <p>Заполните поля ниже и нажмите "Опубликовать"</p>
    <p></p>
    <br>
    <br>
</div>
@(await Html.RenderComponentAsync<NewPostPage>(RenderMode.ServerPrerendered))

    <script src="_framework/blazor.server.js"></script> 