@page
@using GForumBelarus.WebSite.Components;
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">Гайд для путешествий по Беларуси</h1>
    <p>Инструмент, чтобы посмотреть на Беларусь по-новому</p>
    <p></p>
    <br>
    <br>
</div>
@(await Html.RenderComponentAsync<Component>(RenderMode.ServerPrerendered))

    <script src="_framework/blazor.server.js"></script> 