
@using Microsoft.AspNetCore.Components.Web
@using GForumBelarus.WebSite.Models
@using GForumBelarus.WebSite.Services
@inject JsonFilePostService PostService
<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Создать пост</h1>
    		
    		<form>   
                
              <div class="form-group">
                <label for="Title">Заголовок</label>
                <input @bind-value="@title" type="text" class="form-control" id="Title"  rows="3">
              </div>

                <label class="form-label" for="cover">Выберите обложку</label>
                <input type="file"  "@bind-value="@image" class="form-control id="customFile" />

              <div class="form-group">
                <label for="Description">Описание</label>
                <input type="text" class="form-control" id="Title"@bind-value="@descr" rows="3">
              </div>
               
              <div class="form-group">
                <label for="exampleFormControlSelect2">Выберите область</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option>Брестская</option>
                  <option>Витебская</option>
                  <option>Гомельская</option>
                  <option>Гродненская</option>
                  <option>Могилевская</option>
                  <option>Минская</option>
                </select>
              </div>            

              <div class="form-group">
                <label for="Tags">Теги</label><small> (Разделяйте их пробелами)</small>
               <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3">
              </div>

                    <div class="form-group">
                <label for="UserName">Автор</label>
               <input type="text" @bind-value="@creator" class="form-control" id="Title"  rows="3">
              </div>

               <div class="form-group">
                <label for="email">Ваш email адрес</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>

            <button type="button" class="btn btn-success"  @onclick="(e => NewPost(creator,image,title,descr))">ОпубликоDать</button>
             @*<button type="button" class="btn btn-secondary">Очистить поля</button>*@
             
              
        </form>
       
		</div>
		
	</div>

</div>

@code {
    string title;
    string image;
    string descr;
    string creator;

    void NewPost(
            string creator,
            string image,
            string Title,
            string Description)

			{
				PostService.AddPost(creator, image,Title,Description);
			    			
			}
            //{"Id":"2",
            // "Creator":"sfdg",
            // "img":null,
            // "PublDate":"04.06.2022 0:00:00",
            // "Title":"Title",
            // "Description":"asf",
            // "Ratings":null,
            // "Comments":null}
}

